# Feature Engineering

## 1. Extracting Data

In [1]:
import pandas as pd
import json
from datetime import datetime, timedelta
import pymysql

In [2]:
# MySQL connection settings
with open('config\mysql_config.json') as f:
  mysql_config = json.load(f)

host = mysql_config['hostname']
user = mysql_config['username']
password = mysql_config['password']

conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
cursor_int = conn_int.cursor()

In [3]:
# Loading data from MySQL
sql_query = "SELECT invoice_line_no, name, category_name FROM sales"

df = pd.read_sql(sql_query, conn_int)

cursor_int.close()
conn_int.close()

C:\Users\Marcel Zhang\AppData\Local\Temp\ipykernel_6116\1516701696.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn_int)

In [4]:
df.head()

   invoice_line_no                          name      category_name
0  INV-33169200001  HY-VEE #3 / BDI / DES MOINES  CANADIAN WHISKIES
1  INV-33169200002  HY-VEE #3 / BDI / DES MOINES  CANADIAN WHISKIES
2  INV-33169200003  HY-VEE #3 / BDI / DES MOINES  CANADIAN WHISKIES
3  INV-33169200004  HY-VEE #3 / BDI / DES MOINES  CANADIAN WHISKIES
4  INV-33169200005  HY-VEE #3 / BDI / DES MOINES     IRISH WHISKIES

## 2. Feature Engineering

### 2.1. Store Format

Creating a new column to indicate store formats based on the 'name' column.

In [5]:
df['store_format'] = df['name']
df[df['store_format'].str.contains('/', na=False)]['store_format'].unique()

array(['HY-VEE #3 / BDI / DES MOINES',
       'HY-VEE FOOD STORE #3 / DES MOINES',
       'HY-VEE FOOD STORE #5 / DES MOINES',
       'HY-VEE FOOD STORE / FLEUR / DSM', 'HY-VEE #7 / CEDAR RAPIDS',
       'HY-VEE FOOD STORE #3 / CEDAR RAPIDS',
       'HY-VEE FOOD STORE #4 / CEDAR RAPIDS',
       'HY-VEE / DRUGTOWN #1 / CEDAR RAPIDS', 'HY-VEE #4 / WDM',
       'HY-VEE WINE AND SPIRITS / WDM', 'HY-VEE DRUGSTORE #2 / WDM',
       'HY-VEE  /  JEFFERSON', 'HY-VEE FOOD STORE / CARROLL',
       'HY-VEE FOOD STORE / CHEROKEE',
       'HY-VEE WINE AND SPIRITS / STORM LAKE',
       'HY-VEE WINE AND SPIRITS / IOWA CITY',
       'HY-VEE FOOD STORE / CORALVILLE',
       'HY-VEE #3 FOOD & DRUGSTORE / DAVENPORT',
       'HY-VEE DRUGSTORE / DAVENPORT',
       'HY-VEE FOOD STORE #2 / STATE ANKENY',
       'HY-VEE FOOD STORE / IOWA FALLS', 'HY-VEE FOOD STORE / ELDORA',
       'HY-VEE FOOD AND DRUG / CLINTON',
       'HY-VEE FOOD STORE #1 / CEDAR RAPIDS',
       'HY-VEE FOOD STORE / DUBUQUE', 'HY-VEE C-STORE #3 / DUBUQUE',
       'HY-VEE #3 / DUBUQUE', 'HY-VEE FOOD STORE / DAVENPORT',
       'HY-VEE FOOD STORE / MUSCATINE',
       'HY-VEE WINE & SPIRITS / MUSCATINE', 'HY-VEE FOOD STORE / OSCEOLA',
       'HY-VEE GAS #3 / WDM', 'HY-VEE DRUGSTORE / UNIVERSITY / DSM',
       'HY-VEE WINE AND SPIRITS / HUBBELL', 'HY-VEE FOOD STORE #1 / WDM',
       'HY-VEE / WAUKEE', 'HY-VEE FOOD STORE / URBANDALE',
       'HY-VEE #5 / DAVENPORT', 'HY-VEE FOOD STORE / MARSHALLTOWN',
       'HY-VEE FOOD STORE / GRINNELL', 'HY-VEE FOOD STORE #2 / WATERLOO',
       'HY-VEE / CHARLES CITY', 'HY-VEE / WAVERLY',
       'HY-VEE FOOD STORE #2 / DES MOINES',
       'HY-VEE WINE AND SPIRITS / HARLAN',
       'HY-VEE FOOD STORE / SIOUX CITY',
       'HY-VEE WINE AND SPIRITS / DENISON', 'HY-VEE FOOD STORE / DENISON',
       'HY-VEE #2 / DUBUQUE', 'HY-VEE WINE AND SPIRITS / LE MARS',
       'HY-VEE FOOD STORE / SHELDON', 'HY-VEE FOOD STORE / SIOUX CENTER',
       'HY-VEE WINE AND SPIRITS / WATERLOO',
       'HY-VEE FOOD STORE #1 / WATERLOO',
       'HY-VEE FOOD STORE / CEDAR FALLS',
       'HY-VEE FOOD STORE #2 / IOWA CITY',
       'HY-VEE FOOD STORE #1 / NEWTON', 'HY-VEE MAINSTREET / SIOUX CITY',
       'HY-VEE FOOD STORE #4 / SIOUX CITY',
       'HY-VEE FOOD STORE #3 / SIOUX CITY', 'HY-VEE # 6/ DES MOINES',
       'HY-VEE WINE AND SPIRITS / ANKENY', 'HY-VEE FOOD STORE #1 / AMES',
       'HY-VEE  #2 / AMES', 'HY-VEE / WINDSOR HEIGHTS',
       'HY-VEE FOOD AND DRUG / GRAND / WDM',
       'HY-VEE FOOD STORE #5 / CEDAR RAPIDS',
       'HY-VEE DRUGSTORE #5 / CEDAR RAPIDS',
       'HY-VEE DRUGSTORE #4 / CEDAR RAPIDS',
       'HY-VEE FOOD STORE / INDIANOLA',
       'HY-VEE WINE AND SPIRITS / ESTHERVILLE',
       'HY-VEE WINE AND SPIRITS / ALGONA',
       'HY-VEE FOOD STORE #2 / COUNCIL BLUFFS',
       'HY-VEE FOOD STORE / FORT MADISON', 'HY-VEE FOOD STORE / KEOKUK',
       'HY-VEE FOOD STORE #1 / OTTUMWA', 'HY-VEE DRUGSTORE / OTTUMWA',
       'HY-VEE WINE AND SPIRITS / PELLA', 'HY-VEE FOOD STORE / FAIRFIELD',
       'HY-VEE WINE AND SPIRITS / WASHINGTON',
       'HY-VEE WINE & SPIRITS #2 / DAVENPORT',
       'HY-VEE FOOD STORE #1636 / SPENCER',
       'HY-VEE WINE AND SPIRITS / SPIRIT LAKE',
       'HY-VEE FOOD STORE / IOWA CITY', 'HY-VEE DRUGSTORE / IOWA CITY',
       'HY-VEE #2 / CORALVILLE', 'HY-VEE FOOD STORE / JOHNSTON',
       'HY-VEE WINE & SPIRITS #1 / MLK',
       'HY-VEE FAST AND FRESH / JOHNSTON',
       'HY-VEE FOOD AND DRUG #6 / CEDAR RAPIDS',
       'HY-VEE FOOD STORE / ALTOONA', 'HY-VEE FAST & FRESH/ALTOONA',
       'HY-VEE / PLEASANT HILL', 'HY-VEE FOOD STORE #1 / MASON CITY',
       'HY-VEE DRUGSTORE / MASON CITY',
       'HY-VEE #2 FOOD STORE / MASON CITY', 'HY-VEE STORE / PERRY',
       'HY-VEE WINE AND SPIRITS / BOONE', 'HY-VEE FOOD STORE / CRESTON',
       'HY-VEE #1044 / BURLINGTON', 'HY-VEE FOOD STORE #1 / BURLINGTON',
       'HY-VEE FOOD STORE / LEON', 'HY-VEE FOOD STORE / LAMONI',
       'HY-VEE FOOD STORE / MOUNT AYR', 'HY-VEE FOOD STORE / BEDFORD',
       'HY-VEE FOOD STORE / CLARINDA',
       'HY-VEE WINE AND SPIRITS / SHENANDOAH',
       'HY-VEE WINE AND SPIRITS / RED OAK', 'HY-VEE FOOD STORE / CORNING',
       'HY-VEE FAST & FRESH EXPRESS / CRESTON', 'HY-VEE / VINTON',
       'HY-VEE / DECORAH', 'HY-VEE FOOD STORE / MARION',
       'HY-VEE FOOD STORE #2 / CEDAR RAPIDS',
       'HY-VEE DRUGSTORE #6 / CEDAR RAPIDS',
       'HY-VEE FOOD STORE / CHARITON',
       'HY-VEE FAST & FRESH EXPRESS / CENTERVILLE',
       'HY-VEE FOOD STORE / CENTERVILLE', 'HY-VEE FOOD STORE / ALBIA',
       'HY-VEE FOOD STORE / KNOXVILLE',
       'HY-VEE WINE AND SPIRITS / ATLANTIC',
       'HY-VEE FOOD STORE #1 / COUNCIL BLUFFS',
       'HY-VEE FOOD STORE / WEBSTER CITY',
       'HY-VEE FOOD STORE / FORT DODGE',
       'HY-VEE WINE AND SPIRITS / HUMBOLDT',
       'HY-VEE FOOD STORE / MOUNT PLEASANT',
       'HY-VEE FOOD STORE #3 / WATERLOO',
       'HY-VEE FAST & FRESH / DAVENPORT', 'HY-VEE #4 / DAVENPORT',
       'HY-VEE FAST AND FRESH / CLIVE', 'HY-VEE / WINTERSET',
       'HY-VEE C-STORE / SE ARMY POST',
       'HY-VEE WINE AND SPIRITS / BETTENDORF', 'HY-VEE GAS #1 / ANKENY',
       'HY-VEE C-STORE / FAIRFEILD', 'HY-VEE FOOD STORE / OSKALOOSA',
       'HY-VEE / CORYDON', 'HY-VEE FAST & FRESH / WDM',
       'HY-VEE FAST AND FRESH / WAUKEE', 'HY-VEE GAS #1 / OTTUMWA',
       'HY-VEE GAS #4 / DES MOINES', 'HY-VEE GAS #2 / OTTUMWA',
       'HY-VEE FAST AND FRESH / STORM LAKE', 'HY-VEE GAS #5018 / AMES',
       'HY-VEE GAS / INDIANOLA', 'HY-VEE C-STORE / FAIRFIELD',
       'HY-VEE GAS / JOHNSTON', 'HY-VEE DOLLAR FRESH / MAQUOKETA',
       'HY-VEE FAST AND FRESH #2 / WAUKEE',
       'HY-VEE DOLLAR FRESH / MANCHESTER', 'HY-VEE GAS #2 / CORALVILLE',
       'HY-VEE / GRIMES', 'HY-VEE FAST AND FRESH / GRIMES',
       'HY-VEE C STORE / MT. PLEASANT', 'HY-VEE DOLLAR FRESH / NEVADA',
       'HY-VEE DOLLAR FRESH / ORANGE CITY',
       'HY-VEE DOLLAR FRESH / INDEPENDENCE',
       'HY-VEE FAST AND FRESH / MARION',
       'HY-VEE DOLLAR FRESH / MONTICELLO',
       'HY-VEE C STORE #5 / CEDAR RAPIDS', 'HY-VEE GAS #5 / DAVENPORT',
       'HY-VEE FAST AND FRESH #4 / URBANDALE',
       'HY-VEE #3 GAS / IOWA CITY', 'HY-VEE GAS #2 / BURLINGTON',
       'HY-VEE FAST AND FRESH #2 / GRIMES', 'HY-VEE GAS / NEWTON',
       'HY-VEE FAST AND FRESH #3 / URBANDALE',
       'HY-VEE FAST AND FRESH #5 / URBANDALE',
       'HY-VEE FAST AND FRESH #2 / WEST DES MOINES',
       'HY-VEE FAST AND FRESH #3 / WEST DES MOINES',
       'HY-VEE FOOD STORE (1011) / ALTOONA',
       'HY-VEE FOOD STORE (1009) / ALBIA',
       'HY-VEE WINE AND SPIRITS (1022) / ANKENY',
       'HY-VEE FOOD STORE #1 (1013) / AMES', 'HY-VEE  #2 (1018) / AMES',
       'HY-VEE WINE AND SPIRITS (1010) / ALGONA',
       'HY-VEE FAST AND FRESH #3 (7592) / WEST DES MOINES',
       'HY-VEE FAST AND FRESH #5 (7584) / URBANDALE',
       'HY-VEE FAST AND FRESH #2 (7591) / WEST DES MOINES',
       'HY-VEE DRUGSTORE #4 (7025) / CEDAR RAPIDS',
       'HY-VEE WINE AND SPIRITS #1 (1281) / IOWA CITY',
       'HY-VEE WINE AND SPIRITS (1628) / SPIRIT LAKE',
       'HY-VEE FOOD STORE #3 (1142) / DES MOINES',
       'HY-VEE WINE AND SPIRITS (1544) / RED OAK',
       'HY-VEE FOOD STORE #1 (1887) / WDM',
       'HY-VEE FOOD STORE #3 (1866) / WATERLOO',
       'HY-VEE FOOD STORE (1473) / OSCEOLA',
       'HY-VEE FOOD STORE (1095) / CRESTON',
       'HY-VEE FOOD STORE #1 (1410) / MASON CITY',
       'HY-VEE FOOD STORE #2 (1138) / DES MOINES',
       'HY-VEE FOOD STORE (1148) / FLEUR / DSM',
       'HY-VEE FOOD STORE #5 (1151) / DES MOINES',
       'HY-VEE FOOD STORE #1 (1159) / DUBUQUE',
       'HY-VEE FOOD STORE (1396) / MARION',
       'HY-VEE FOOD STORE #1 (1054) / CEDAR RAPIDS',
       'HY-VEE FOOD STORE #1 (1105) / DAVENPORT',
       'HY-VEE FOOD STORE #3 (1056) / CEDAR RAPIDS',
       'HY-VEE / DRUGTOWN #1 (7020) / CEDAR RAPIDS',
       'HY-VEE FOOD STORE (1295) / IOWA FALLS',
       'HY-VEE FOOD STORE (1065) / CHARITON',
       'HY-VEE WINE AND SPIRITS (1038) / BOONE',
       'HY-VEE #2 (1044) / BURLINGTON',
       'HY-VEE FOOD STORE (1403) / MARSHALLTOWN',
       'HY-VEE FOOD STORE (1271) / INDIANOLA',
       'HY-VEE FOOD STORE #1 (1504) / OTTUMWA',
       'HY-VEE FOOD STORE #1 (1042) / BURLINGTON',
       'HY-VEE WINE AND SPIRITS (1170) / ESTHERVILLE',
       'HY-VEE FOOD STORE (1324) / KEOKUK',
       'HY-VEE FOOD STORE (1433) / MOUNT PLEASANT',
       'HY-VEE DRUGSTORE (7042) / IOWA CITY',
       'HY-VEE FOOD STORE #2 (1285) / IOWA CITY',
       'HY-VEE FOOD STORE #1 (1449) / NEWTON',
       'HY-VEE FOOD AND DRUG (1888) / GRAND / WDM',
       'HY-VEE (1530) / PLEASANT HILL',
       'HY-VEE FOOD STORE (1058) / CENTERVILLE',
       'HY-VEE FOOD STORE (1192) / FORT DODGE',
       'HY-VEE FOOD STORE (1636) / SPENCER',
       'HY-VEE FOOD STORE (1353) / KNOXVILLE',
       'HY-VEE FAST AND FRESH #4 (7583) / URBANDALE', 'HY-VEE / ELDRIDGE',
       'HY-VEE / KNOXVILLE', 'HY-VEE C-STORE #3 / CEDAR RAPIDS',
       'HY-VEE FAST & FRESH 2 / DAVENPORT'], dtype=object)

The substring following the '/' in each entry of the 'store_format' column appears to denote location information. 

This detail is not relevant for identifying the store format itself. 

Consequently, we will focus on the data preceding the '/' for a more accurate characterization of store formats.

In [6]:
# Split each string in 'store_format' at the first '/' and keep only the first part
df['store_format'] = df['store_format'].str.split('/', n=1).str[0]
df['store_format'].unique()

array(['HY-VEE #3 ', 'HY-VEE FOOD STORE #3 ', 'HY-VEE FOOD STORE #5 ',
       'HY-VEE FOOD STORE ', 'HY-VEE #7 ', 'HY-VEE FOOD STORE #4 ',
       'HY-VEE ', 'HY-VEE FAST & FRESH - DES MOINES', 'HY-VEE #4 ',
       'HY-VEE WINE AND SPIRITS ', 'HY-VEE DRUGSTORE #2 ',
       'HY-VEE C-STORE - DOUGLAS', 'HY-VEE  ',
       'HY-VEE #3 FOOD & DRUGSTORE ', 'HY-VEE DRUGSTORE ',
       'HY-VEE FOOD STORE #2 ', 'HY-VEE HAMPTON DOLLAR FRESH',
       'HY-VEE FOOD AND DRUG ', 'HY-VEE FOOD STORE #1 ',
       'HY-VEE C-STORE #3 ', 'HY-VEE DYERSVILLE DOLLAR FRESH',
       'HY-VEE WINE & SPIRITS ', 'HY-VEE GAS #3 ',
       'HY-VEE FORT DODGE WINE AND SPIRITS', 'HY-VEE #5 ',
       'HY-VEE C-STORE - EAST HICKMAN', 'HY-VEE OELWEIN DOLLAR FRESH',
       'HY-VEE #2 ', 'HY-VEE MAINSTREET ', 'HY-VEE # 6', 'HY-VEE  #2 ',
       'HY-VEE DRUGSTORE #5 ', 'HY-VEE DRUGSTORE #4 ',
       'HY-VEE C-STORE #2 - ANKENY',
       'HY-VEE FAST AND FRESH - WINDSOR HEIGHTS', 'HY-VEE -GARNER',
       'HY-VEE - FOREST CITY', 'HY-VEE DOLLAR FRESH - EMMETSBURG',
       'HY-VEE OTTUMWA#2', 'HY-VEE WINE & SPIRITS #2 ',
       'HY-VEE FOOD STORE #1636 ', 'HY-VEE WINE & SPIRITS #1 ',
       'HY-VEE FAST AND FRESH ', 'HY-VEE FOOD AND DRUG #6 ',
       'HY-VEE FAST & FRESH', 'HY-VEE #2 FOOD STORE ', 'HY-VEE STORE ',
       'HY-VEE #1044 ', 'HY-VEE FAST & FRESH EXPRESS ',
       'HY-VEE WAUKON DOLLAR FRESH', 'HY-VEE DRUGSTORE #6 ',
       'HY-VEE FAST & FRESH - KNOXVILLE', 'HY-VEE GAS - PLEASANT HILL',
       'HY-VEE FAST & FRESH ', 'HY-VEE FAST AND FRESH - URBANDALE',
       'HY-VEE GAS #4 - WDM', 'HY-VEE FAST AND FRESH - DUBUQUE',
       'HY-VEE C-STORE ', 'HY-VEE DOLLAR FRESH - TOLEDO',
       'HY-VEE CRESCO DOLLAR FRESH', 'HY-VEE GAS #1 ',
       'HY-VEE FAST & FRESH EXPRESS- BETTENDORF', 'HY-VEE GAS #4 ',
       'HY-VEE GAS #2 ', 'HY-VEE FAST & FRESH EXPRESS -OSCELOA',
       'HY-VEE GAS #5018 ', 'HY-VEE WDM HEALTH MARKET', 'HY-VEE GAS ',
       'HY-VEE DOLLAR FRESH ', 'HY-VEE FAST AND FRESH #2 ',
       'HY-VEE C STORE ', 'HY-VEE C STORE #5 ', 'HY-VEE GAS #5 ',
       'HY-VEE FAST AND FRESH #4 ', 'HY-VEE #3 GAS ',
       'HY-VEE FAST AND FRESH #3 ', 'HY-VEE FAST AND FRESH #5 ',
       'HY-VEE FOOD STORE (1011) ', 'HY-VEE FOOD STORE (1009) ',
       'HY-VEE WINE AND SPIRITS (1022) ', 'HY-VEE FOOD STORE #1 (1013) ',
       'HY-VEE  #2 (1018) ', 'HY-VEE WINE AND SPIRITS (1010) ',
       'HY-VEE FAST AND FRESH #3 (7592) ',
       'HY-VEE FAST AND FRESH #5 (7584) ',
       'HY-VEE FAST AND FRESH #2 (7591) ', 'HY-VEE DRUGSTORE #4 (7025) ',
       'HY-VEE WINE AND SPIRITS #1 (1281) ',
       'HY-VEE WINE AND SPIRITS (1628) ', 'HY-VEE FOOD STORE #3 (1142) ',
       'HY-VEE WINE AND SPIRITS (1544) ', 'HY-VEE FOOD STORE #1 (1887) ',
       'HY-VEE FOOD STORE #3 (1866) ', 'HY-VEE FOOD STORE (1473) ',
       'HY-VEE FOOD STORE (1095) ', 'HY-VEE FOOD STORE #1 (1410) ',
       'HY-VEE FOOD STORE #2 (1138) ', 'HY-VEE FOOD STORE (1148) ',
       'HY-VEE FOOD STORE #5 (1151) ', 'HY-VEE FOOD STORE #1 (1159) ',
       'HY-VEE FOOD STORE (1396) ', 'HY-VEE FOOD STORE #1 (1054) ',
       'HY-VEE FOOD STORE #1 (1105) ', 'HY-VEE FOOD STORE #3 (1056) ',
       'HY-VEE FOOD STORE (1295) ', 'HY-VEE FOOD STORE (1065) ',
       'HY-VEE WINE AND SPIRITS (1038) ', 'HY-VEE #2 (1044) ',
       'HY-VEE FOOD STORE (1403) ', 'HY-VEE FOOD STORE (1271) ',
       'HY-VEE FOOD STORE #1 (1504) ', 'HY-VEE FOOD STORE #1 (1042) ',
       'HY-VEE WINE AND SPIRITS (1170) ', 'HY-VEE FOOD STORE (1324) ',
       'HY-VEE FOOD STORE (1433) ', 'HY-VEE DRUGSTORE (7042) ',
       'HY-VEE FOOD STORE #2 (1285) ', 'HY-VEE FOOD STORE #1 (1449) ',
       'HY-VEE FOOD AND DRUG (1888) ', 'HY-VEE (1530) ',
       'HY-VEE FOOD STORE (1058) ', 'HY-VEE FOOD STORE (1192) ',
       'HY-VEE FOOD STORE (1636) ', 'HY-VEE FOOD STORE (1353) ',
       'HY-VEE FAST AND FRESH #4 (7583) ', 'HY-VEE FAST & FRESH 2 '],
      dtype=object)

In [7]:
# Removing all numbers and symbols
df['store_format'] = df['store_format'].str.replace('[0-9#()]+', '', regex=True)
df['store_format'].unique()

array(['HY-VEE  ', 'HY-VEE FOOD STORE  ', 'HY-VEE FOOD STORE ', 'HY-VEE ',
       'HY-VEE FAST & FRESH - DES MOINES', 'HY-VEE WINE AND SPIRITS ',
       'HY-VEE DRUGSTORE  ', 'HY-VEE C-STORE - DOUGLAS',
       'HY-VEE  FOOD & DRUGSTORE ', 'HY-VEE DRUGSTORE ',
       'HY-VEE HAMPTON DOLLAR FRESH', 'HY-VEE FOOD AND DRUG ',
       'HY-VEE C-STORE  ', 'HY-VEE DYERSVILLE DOLLAR FRESH',
       'HY-VEE WINE & SPIRITS ', 'HY-VEE GAS  ',
       'HY-VEE FORT DODGE WINE AND SPIRITS',
       'HY-VEE C-STORE - EAST HICKMAN', 'HY-VEE OELWEIN DOLLAR FRESH',
       'HY-VEE MAINSTREET ', 'HY-VEE   ', 'HY-VEE C-STORE  - ANKENY',
       'HY-VEE FAST AND FRESH - WINDSOR HEIGHTS', 'HY-VEE -GARNER',
       'HY-VEE - FOREST CITY', 'HY-VEE DOLLAR FRESH - EMMETSBURG',
       'HY-VEE OTTUMWA', 'HY-VEE WINE & SPIRITS  ',
       'HY-VEE FAST AND FRESH ', 'HY-VEE FOOD AND DRUG  ',
       'HY-VEE FAST & FRESH', 'HY-VEE  FOOD STORE ', 'HY-VEE STORE ',
       'HY-VEE FAST & FRESH EXPRESS ', 'HY-VEE WAUKON DOLLAR FRESH',
       'HY-VEE FAST & FRESH - KNOXVILLE', 'HY-VEE GAS - PLEASANT HILL',
       'HY-VEE FAST & FRESH ', 'HY-VEE FAST AND FRESH - URBANDALE',
       'HY-VEE GAS  - WDM', 'HY-VEE FAST AND FRESH - DUBUQUE',
       'HY-VEE C-STORE ', 'HY-VEE DOLLAR FRESH - TOLEDO',
       'HY-VEE CRESCO DOLLAR FRESH',
       'HY-VEE FAST & FRESH EXPRESS- BETTENDORF',
       'HY-VEE FAST & FRESH EXPRESS -OSCELOA', 'HY-VEE WDM HEALTH MARKET',
       'HY-VEE GAS ', 'HY-VEE DOLLAR FRESH ', 'HY-VEE FAST AND FRESH  ',
       'HY-VEE C STORE ', 'HY-VEE C STORE  ', 'HY-VEE  GAS ',
       'HY-VEE WINE AND SPIRITS  ', 'HY-VEE FOOD STORE   ', 'HY-VEE    ',
       'HY-VEE FAST AND FRESH   ', 'HY-VEE DRUGSTORE   ',
       'HY-VEE WINE AND SPIRITS   ', 'HY-VEE FAST & FRESH  '],
      dtype=object)

In [8]:
# Remove leading and trailing spaces
df['store_format'] = df['store_format'].str.strip()

# Replace consecutive spaces with a single space
df['store_format'] = df['store_format'].str.replace('\s+', ' ', regex=True)

df['store_format'].unique()

array(['HY-VEE', 'HY-VEE FOOD STORE', 'HY-VEE FAST & FRESH - DES MOINES',
       'HY-VEE WINE AND SPIRITS', 'HY-VEE DRUGSTORE',
       'HY-VEE C-STORE - DOUGLAS', 'HY-VEE FOOD & DRUGSTORE',
       'HY-VEE HAMPTON DOLLAR FRESH', 'HY-VEE FOOD AND DRUG',
       'HY-VEE C-STORE', 'HY-VEE DYERSVILLE DOLLAR FRESH',
       'HY-VEE WINE & SPIRITS', 'HY-VEE GAS',
       'HY-VEE FORT DODGE WINE AND SPIRITS',
       'HY-VEE C-STORE - EAST HICKMAN', 'HY-VEE OELWEIN DOLLAR FRESH',
       'HY-VEE MAINSTREET', 'HY-VEE C-STORE - ANKENY',
       'HY-VEE FAST AND FRESH - WINDSOR HEIGHTS', 'HY-VEE -GARNER',
       'HY-VEE - FOREST CITY', 'HY-VEE DOLLAR FRESH - EMMETSBURG',
       'HY-VEE OTTUMWA', 'HY-VEE FAST AND FRESH', 'HY-VEE FAST & FRESH',
       'HY-VEE STORE', 'HY-VEE FAST & FRESH EXPRESS',
       'HY-VEE WAUKON DOLLAR FRESH', 'HY-VEE FAST & FRESH - KNOXVILLE',
       'HY-VEE GAS - PLEASANT HILL', 'HY-VEE FAST AND FRESH - URBANDALE',
       'HY-VEE GAS - WDM', 'HY-VEE FAST AND FRESH - DUBUQUE',
       'HY-VEE DOLLAR FRESH - TOLEDO', 'HY-VEE CRESCO DOLLAR FRESH',
       'HY-VEE FAST & FRESH EXPRESS- BETTENDORF',
       'HY-VEE FAST & FRESH EXPRESS -OSCELOA', 'HY-VEE WDM HEALTH MARKET',
       'HY-VEE DOLLAR FRESH', 'HY-VEE C STORE'], dtype=object)

In [9]:
# Standardizing the names
replacements = {
    'FOOD STORE': 'HY-VEE',
    'FOOD AND DRUG': 'HY-VEE FOOD & DRUG',
    'DRUGSTORE': 'HY-VEE FOOD & DRUG',
    'FOOD & DRUGSTORE': 'HY-VEE FOOD & DRUG',
    'WINE AND SPIRITS': 'HY-VEE WINE & SPIRITS',
    'WINE & SPIRITS': 'HY-VEE WINE & SPIRITS',
    'FAST & FRESH EXPRESS': 'HY-VEE FAST & FRESH',
    'FAST & FRESH': 'HY-VEE FAST & FRESH',
    'FAST AND FRESH': 'HY-VEE FAST & FRESH',
    'GAS': 'HY-VEE GAS',
    'GASE': 'HY-VEE GAS',
    'C-STORE': 'HY-VEE C-STORE',
    'C-STRORE': 'HY-VEE C-STORE',
    'C STORE': 'HY-VEE C-STORE',
    'DOLLAR FRESH': 'HY-VEE DOLLAR FRESH'
}

for key, value in replacements.items():
    df.loc[df['store_format'].str.contains(key, na=False, case=False), 'store_format'] = value

df['store_format'].unique()

array(['HY-VEE', 'HY-VEE FAST & FRESH', 'HY-VEE WINE & SPIRITS',
       'HY-VEE FOOD & DRUG', 'HY-VEE C-STORE', 'HY-VEE DOLLAR FRESH',
       'HY-VEE GAS', 'HY-VEE MAINSTREET', 'HY-VEE -GARNER',
       'HY-VEE - FOREST CITY', 'HY-VEE OTTUMWA', 'HY-VEE STORE',
       'HY-VEE WDM HEALTH MARKET'], dtype=object)

In [11]:
format_replacements = {
    'HY-VEE'                : 'Grocery Store',
    'HY-VEE FOOD & DRUG'    : 'Pharmacy',
    'HY-VEE WINE & SPIRITS' : 'Spirits Store',
    'HY-VEE C-STORE'        : 'Convenience Store',
    'HY-VEE FAST & FRESH'   : 'Convenience Store',
    'HY-VEE DOLLAR FRESH'   : 'Dollar Store'
}

# Replace values using the dictionary and set 'Other' for all values not in the dictionary
df['store_format'] = df['store_format'].map(lambda x: format_replacements.get(x, 'Other'))

In [12]:
df['store_format'].unique()

array(['Grocery Store', 'Convenience Store', 'Spirits Store', 'Pharmacy',
       'Dollar Store', 'Other'], dtype=object)

In [14]:
df.head()

,invoice_line_no,name,category_name,store_format
0,INV-33169200001,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store
1,INV-33169200002,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store
2,INV-33169200003,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store
3,INV-33169200004,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store
4,INV-33169200005,HY-VEE #3 / BDI / DES MOINES,IRISH WHISKIES,Grocery Store

### 2.2. liquor Type

Creating a new column to indicate liquor types based on the 'category_name' column.

In [15]:
df['liquor_type'] = df['category_name']
df['liquor_type'].unique()

array(['CANADIAN WHISKIES', 'IRISH WHISKIES', 'STRAIGHT RYE WHISKIES',
       'STRAIGHT BOURBON WHISKIES', 'BLENDED WHISKIES',
       'IMPORTED DRY GINS', 'AMERICAN DRY GINS',
       'IMPORTED FLAVORED VODKA', 'IMPORTED VODKAS', 'AMERICAN VODKAS',
       'AMERICAN FLAVORED VODKA', 'FLAVORED RUM', 'WHITE RUM',
       'SPICED RUM', 'AMERICAN BRANDIES', 'SCOTCH WHISKIES',
       'IMPORTED CORDIALS & LIQUEURS', 'CREAM LIQUEURS',
       'IMPORTED SCHNAPPS', 'AMERICAN CORDIALS & LIQUEURS',
       'IMPORTED DISTILLED SPIRITS SPECIALTY',
       'AMERICAN DISTILLED SPIRITS SPECIALTY', 'AMERICAN SCHNAPPS',
       'TENNESSEE WHISKIES', 'TRIPLE SEC', '100% AGAVE TEQUILA',
       'MIXTO TEQUILA', 'MEZCAL', 'WHISKEY LIQUEUR',
       'SPECIAL ORDER ITEMS', 'IMPORTED BRANDIES',
       'TEMPORARY & SPECIALTY PACKAGES', 'COCKTAILS/RTD', 'AGED DARK RUM',
       'NEUTRAL GRAIN SPIRITS', 'GOLD RUM', 'COFFEE LIQUEURS',
       'NEUTRAL GRAIN SPIRITS FLAVORED', 'BOTTLED IN BOND BOURBON',
       'CORN WHISKIES', 'SINGLE MALT SCOTCH', 'FLAVORED GIN',
       'AMERICAN SLOE GINS', 'SINGLE BARREL BOURBON WHISKIES',
       'DISTILLED SPIRITS SPECIALTY', 'AMERICAN WHISKIES'], dtype=object)

In [16]:
# Extract the last word
df['liquor_type'] = df['liquor_type'].apply(lambda x: x.split()[-1])
df['liquor_type'].unique()

array(['WHISKIES', 'GINS', 'VODKA', 'VODKAS', 'RUM', 'BRANDIES',
       'LIQUEURS', 'SCHNAPPS', 'SPECIALTY', 'SEC', 'TEQUILA', 'MEZCAL',
       'LIQUEUR', 'ITEMS', 'PACKAGES', 'COCKTAILS/RTD', 'SPIRITS',
       'FLAVORED', 'BOURBON', 'SCOTCH', 'GIN'], dtype=object)

In [17]:
type_replacements = {
    'WHISKIES'  : 'Whisky',
    'GINS'      : 'Gin',
    'VODKA'     : 'Vodka',
    'VODKAS'    : 'Vodka',
    'RUM'       : 'Rum',
    'BRANDIES'  : 'Brandy',
    'LIQUEURS'  : 'Liqueur',
    'SCHNAPPS'  : 'Liqueur',  
    'SEC'       : 'Liqueur',  
    'TEQUILA'   : 'Tequila',
    'LIQUEUR'   : 'Liqueur',
    'BOURBON'   : 'Whisky',
    'SCOTCH'    : 'Whisky',
    'GIN'       : 'Gin'
}

# Replace values using the dictionary and set 'Other' for all values not in the dictionary
df['liquor_type'] = df['liquor_type'].map(lambda x: type_replacements.get(x, 'Other'))

In [18]:
df['liquor_type'].unique()

array(['Whisky', 'Gin', 'Vodka', 'Rum', 'Brandy', 'Liqueur', 'Other',
       'Tequila'], dtype=object)

In [19]:
df.head()

,invoice_line_no,name,category_name,store_format,liquor_type
0,INV-33169200001,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store,Whisky
1,INV-33169200002,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store,Whisky
2,INV-33169200003,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store,Whisky
3,INV-33169200004,HY-VEE #3 / BDI / DES MOINES,CANADIAN WHISKIES,Grocery Store,Whisky
4,INV-33169200005,HY-VEE #3 / BDI / DES MOINES,IRISH WHISKIES,Grocery Store,Whisky

# 3. Loading Data

In [32]:
conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
cursor_int = conn_int.cursor()

In [21]:
# Adding new columns in MySQL database
conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
cursor_int = conn_int.cursor()

add_store_format = "ALTER TABLE sales ADD COLUMN store_format VARCHAR(255);"
add_liquor_type = "ALTER TABLE sales ADD COLUMN liquor_type VARCHAR(255);"

try:
    cursor_int.execute(add_store_format)
    cursor_int.execute(add_liquor_type)
    conn_int.commit()  
    print("Columns added successfully.")
except pymysql.err.InternalError as e:
    print(f"An error occurred: {e}")

Columns added successfully.

In [33]:
# Creating a Temporary Table
def create_temp_table(cursor):
    temp_table_query = """
    CREATE TEMPORARY TABLE IF NOT EXISTS temp_sales_updates (
        invoice_line_no VARCHAR(255),
        store_format VARCHAR(255),
        liquor_type VARCHAR(255),
        INDEX (invoice_line_no)
    );
    """
    cursor.execute(temp_table_query)

create_temp_table(cursor_int)

In [34]:
# Inserting Data into Temporary Table in Batches
def batch_insert_to_temp_table(cursor, batch_data):
    insert_query = """
    INSERT INTO temp_sales_updates (invoice_line_no, store_format, liquor_type) 
    VALUES (%s, %s, %s);
    """
    cursor.executemany(insert_query, batch_data)

batch_size = 1000  # Adjust the batch size according to your requirements
for start in range(0, len(df), batch_size):
    end = start + batch_size
    batch_data = [
        (row['invoice_line_no'], row['store_format'], row['liquor_type']) 
        for index, row in df.iloc[start:end].iterrows()
    ]
    batch_insert_to_temp_table(cursor_int, batch_data)
    conn_int.commit()

In [35]:
# Indexing `invoice_line_no` for optimized performance
def create_index(cursor):
    index_query = """
    CREATE INDEX idx_invoice_line_no ON sales (invoice_line_no); 
    """
    try:
        cursor.execute(index_query)
        print("Index created successfully.")
    except Exception as e:
        print(f"An error occurred: {e}")

create_index(cursor_int)
conn_int.commit()

An error occurred: (1061, "Duplicate key name 'idx_invoice_line_no'")

In [36]:
# Updating Main Table Using Temporary Table
def update_main_table_from_temp(cursor):
    update_query = """
    UPDATE sales s
    JOIN temp_sales_updates t ON s.invoice_line_no = t.invoice_line_no
    SET s.store_format = t.store_format, s.liquor_type = t.liquor_type;
    """
    cursor.execute(update_query)

update_main_table_from_temp(cursor_int)
conn_int.commit()

cursor_int.close()
conn_int.close()