# Feature Engineering

In [2]:
import pandas as pd
import json
from datetime import datetime, timedelta
import pymysql

In [3]:
# MySQL connection settings
with open('config\mysql_config.json') as f:
  mysql_config = json.load(f)

host = mysql_config['hostname']
user = mysql_config['username']
password = mysql_config['password']

## 1. Store Format

Creating a new column to indicate store formats based on the 'name' column.

In [3]:
# Extracting data from MySQL
conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
cursor_int = conn_int.cursor()

sql_query = "SELECT store_id, store_name FROM stores"

df = pd.read_sql(sql_query, conn_int)

cursor_int.close()
conn_int.close()

C:\Users\Marcel Zhang\AppData\Local\Temp\ipykernel_8308\4054004617.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn_int)

In [61]:
df

Empty DataFrame
Columns: [store_id, store_name]
Index: []

In [62]:
df['store_format'] = df['store_name']
df[df['store_format'].str.contains('/', na=False)]['store_format'].unique()

array([], dtype=object)

The substring following the '/' in each entry of the 'store_format' column appears to denote location information. 

This detail is not relevant for identifying the store format itself. 

Consequently, we will focus on the data preceding the '/' for a more accurate characterization of store formats.

In [63]:
# Stripe 'HY-VEE' and content after first '/'or '-'
df['store_format'] = df['store_format'].str.replace('HY-VEE', 'HY VEE', case=False) \
                                        .str.replace('C-STORE', 'C STORE', case=False) \
                                        .str.split('/|-', n=1).str[0].str.strip()
df['store_format'].unique()

array([], dtype=object)

In [64]:
# Removing all numbers and symbols
df['store_format'] = df['store_format'].str.replace('[0-9#()]+', '', regex=True)
df['store_format'].unique()

array([], dtype=object)

In [65]:
# Remove leading and trailing spaces
df['store_format'] = df['store_format'].str.strip()

# Replace consecutive spaces with a single space
df['store_format'] = df['store_format'].str.replace('\s+', ' ', regex=True)

df['store_format'].unique()

array([], dtype=object)

In [66]:
# Standardizing the names
replacements = {
    'FOOD STORE'          : 'Grocery Store',
    'FOOD AND DRUG'       : 'Pharmacy',
    'DRUGSTORE'           : 'Pharmacy',
    'FOOD & DRUGSTORE'    : 'Pharmacy',
    'WINE AND SPIRITS'    : 'Liquor Store',
    'WINE & SPIRITS'      : 'Liquor Store',
    'FAST & FRESH EXPRESS': 'Convenience Store',
    'FAST & FRESH'        : 'Convenience Store',
    'FAST AND FRESH'      : 'Convenience Store',
    'C STORE'             : 'Convenience Store',
}

with open('dicts/store_format_map.json', 'w') as file:
    json.dump(replacements, file)

In [67]:
for key, value in replacements.items():
    df.loc[df['store_format'].str.contains(key, na=False, case=False), 'store_format'] = value

df['store_format'].unique()

array([], dtype=object)

In [68]:
# Replace 'HY VEE' by 'Grocery Store' and set 'Other' for all values not in the dictionary
df['store_format'] = df['store_format'].apply(lambda x: 'Grocery Store' if x == 'HY VEE' else ('Other' if x not in replacements.values() else x))
df['store_format'].unique()

array([], dtype=object)

In [69]:
df.head()

Empty DataFrame
Columns: [store_id, store_name, store_format]
Index: []

In [4]:
# Streamline the process for building pipeline
df['store_format'] = df['store_name']

df['store_format'] = (
    df['store_format'].str.replace('HY-VEE', 'HY VEE', case=False, regex=True)
                      .str.replace('C-STORE', 'C STORE', case=False, regex=True)
                      .str.split('/|-', n=1).str[0]
                      .str.replace('[0-9#()]+', '', regex=True)
                      .str.strip()
                      .str.replace('\s+', ' ', regex=True)
)

with open('dicts/store_format_map.json', 'r') as f:
    store_format_map = json.load(f)

# Convert keys to lowercase for case-insensitive matching
replacements_lower = {k.lower(): v for k, v in store_format_map.items()}

# Use a function to replace based on the lowercase match
def apply_replacements(x):
    x_lower = x.lower()
    for key, value in replacements_lower.items():
        if key in x_lower:
            return value
    if x == 'HY VEE':
        return 'Grocery Store'
    return 'Other' if all(x_lower != val.lower() for val in store_format_map.values()) else x

df['store_format'] = df['store_format'].apply(apply_replacements)

In [5]:
df

     store_id                                   store_name       store_format
0        2500           HY-VEE FOOD STORE #1 (1013) / AMES      Grocery Store
1        2501                     HY-VEE  #2 (1018) / AMES      Grocery Store
2        2502      HY-VEE WINE AND SPIRITS (1022) / ANKENY       Liquor Store
3        2505       HY-VEE WINE AND SPIRITS (1038) / BOONE       Liquor Store
4        2506                HY-VEE #2 (1044) / BURLINGTON      Grocery Store
..        ...                                          ...                ...
190     10025  HY-VEE FAST AND FRESH #4 (7583) / URBANDALE  Convenience Store
191     10034  HY-VEE FAST AND FRESH #5 (7584) / URBANDALE  Convenience Store
192     10167                            HY-VEE / ELDRIDGE      Grocery Store
193     10189                           HY-VEE / KNOXVILLE      Grocery Store
194     10285            HY-VEE FAST & FRESH 2 / DAVENPORT  Convenience Store

[195 rows x 3 columns]

In [9]:
# Load to db
try:
    conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
    
    with conn_int.cursor() as cursor_int:
        # Check if the column exists
        cursor_int.execute("""
            SELECT column_name 
            FROM information_schema.columns 
            WHERE table_schema = 'INT_HYVEE' 
            AND table_name = 'stores' 
            AND column_name = 'store_format';
        """)
        if cursor_int.fetchone():
            # If the column exists, drop it
            cursor_int.execute("ALTER TABLE stores DROP COLUMN store_format;")
        
        cursor_int.execute("ALTER TABLE stores ADD COLUMN store_format VARCHAR(255);")

        sql_update = "UPDATE stores SET store_format = %s WHERE store_id = %s;"

        for index, row in df.iterrows():
            cursor_int.execute(sql_update, (row['store_format'], row['store_id']))

        conn_int.commit()
except pymysql.Error as e:
    print(f"Database error occurred: {e}")
finally:
    conn_int.close()

## 2. Liquor Type

Creating a new column to indicate liquor types based on the 'category' and 'category_code' columns.

In [10]:
# Extracting data from MySQL
conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
cursor_int = conn_int.cursor()

sql_query = "SELECT category_code, category FROM items"

df = pd.read_sql(sql_query, conn_int)

cursor_int.close()
conn_int.close()

C:\Users\Marcel Zhang\AppData\Local\Temp\ipykernel_8308\1183263233.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn_int)

In [73]:
df.drop_duplicates().sort_values(by='category_code', ascending=True)

Empty DataFrame
Columns: [category_code, category]
Index: []

In [74]:
# Matching category codes with liquor types
liquor_type_map = {
    '101': 'Whiskey',
    '102': 'Tequila',
    '103': 'Vodka',
    '104': 'Gin',
    '105': 'Brandy',
    '106': 'Rum',
    '107': 'Cocktails',
    '108': 'Liqueur',
    '109': 'Neutral Grain/Distilled Spirits'
}

with open('dicts/liquor_type_map.json', 'w') as file:
    json.dump(liquor_type_map, file)

In [22]:
df['liquor_type'] = df['category']
df

C:\Users\Marcel Zhang\AppData\Local\Temp\ipykernel_8308\1759286482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['liquor_type'] = df['category']

,category_code,category,liquor_type
0,1081200,CREAM LIQUEURS,CREAM LIQUEURS
1,1701100,TEMPORARY & SPECIALTY PACKAGES,TEMPORARY & SPECIALTY PACKAGES
2,1012300,SINGLE MALT SCOTCH,SINGLE MALT SCOTCH
5,1012200,SCOTCH WHISKIES,SCOTCH WHISKIES
9,1062400,SPICED RUM,SPICED RUM
11,1071000,COCKTAILS/RTD,COCKTAILS/RTD
25,1052100,IMPORTED BRANDIES,IMPORTED BRANDIES
96,1011100,BLENDED WHISKIES,BLENDED WHISKIES
146,1012100,CANADIAN WHISKIES,CANADIAN WHISKIES
255,1011600,STRAIGHT RYE WHISKIES,STRAIGHT RYE WHISKIES
264,1012400,IRISH WHISKIES,IRISH WHISKIES
271,1011200,STRAIGHT BOURBON WHISKIES,STRAIGHT BOURBON WHISKIES
314,1011500,BOTTLED IN BOND BOURBON,BOTTLED IN BOND BOURBON
321,1011400,TENNESSEE WHISKIES,TENNESSEE WHISKIES
326,1011700,CORN WHISKIES,CORN WHISKIES
379,1011300,SINGLE BARREL BOURBON WHISKIES,SINGLE BARREL BOURBON WHISKIES
589,1081600,WHISKEY LIQUEUR,WHISKEY LIQUEUR
811,1091100,AMERICAN DISTILLED SPIRITS SPECIALTY,AMERICAN DISTILLED SPIRITS SPECIALTY
856,1042100,IMPORTED DRY GINS,IMPORTED DRY GINS
876,1041200,FLAVORED GIN,FLAVORED GIN
884,1041100,AMERICAN DRY GINS,AMERICAN DRY GINS
979,1032100,IMPORTED VODKAS,IMPORTED VODKAS
982,1032200,IMPORTED FLAVORED VODKA,IMPORTED FLAVORED VODKA
986,1031200,AMERICAN FLAVORED VODKA,AMERICAN FLAVORED VODKA
992,1041300,AMERICAN SLOE GINS,AMERICAN SLOE GINS
1025,1031100,AMERICAN VODKAS,AMERICAN VODKAS
1420,1091200,NEUTRAL GRAIN SPIRITS,NEUTRAL GRAIN SPIRITS
1427,1062300,AGED DARK RUM,AGED DARK RUM
1429,1062200,WHITE RUM,WHITE RUM
1430,1062500,FLAVORED RUM,FLAVORED RUM
1436,1092100,IMPORTED DISTILLED SPIRITS SPECIALTY,IMPORTED DISTILLED SPIRITS SPECIALTY
1438,1062100,GOLD RUM,GOLD RUM
1608,1082100,IMPORTED CORDIALS & LIQUEURS,IMPORTED CORDIALS & LIQUEURS
1653,1051100,AMERICAN BRANDIES,AMERICAN BRANDIES
1905,1022200,100% AGAVE TEQUILA,100% AGAVE TEQUILA
1914,1081500,TRIPLE SEC,TRIPLE SEC
1925,1081300,AMERICAN CORDIALS & LIQUEURS,AMERICAN CORDIALS & LIQUEURS
1963,1082200,IMPORTED SCHNAPPS,IMPORTED SCHNAPPS
2043,1022100,MIXTO TEQUILA,MIXTO TEQUILA
2071,1081100,COFFEE LIQUEURS,COFFEE LIQUEURS
2146,1081400,AMERICAN SCHNAPPS,AMERICAN SCHNAPPS
2156,1091300,NEUTRAL GRAIN SPIRITS FLAVORED,NEUTRAL GRAIN SPIRITS FLAVORED
2613,1022300,MEZCAL,MEZCAL
3117,1901000,SPECIAL ORDER ITEMS,SPECIAL ORDER ITEMS
3181,1081000,AMERICAN CORDIALS & LIQUEURS,AMERICAN CORDIALS & LIQUEURS
3261,1092000,IMPORTED DISTILLED SPIRITS SPECIALTY,IMPORTED DISTILLED SPIRITS SPECIALTY
3524,1082000,IMPORTED CORDIALS & LIQUEURS,IMPORTED CORDIALS & LIQUEURS

In [24]:
# Streamlining the process

df['liquor_type'] = df['category']

with open('dicts/liquor_type_map.json', 'r') as f:
    liquor_type_map = json.load(f)

def match_liquor_type(number):
    number_str = str(number)[:3] 
    return liquor_type_map.get(number_str, 'Other') 

df = df.drop_duplicates()
df['liquor_type'] = df['category_code'].apply(match_liquor_type)

In [25]:
df

,category_code,category,liquor_type
0,1081200,CREAM LIQUEURS,Liqueur
1,1701100,TEMPORARY & SPECIALTY PACKAGES,Other
2,1012300,SINGLE MALT SCOTCH,Whiskey
5,1012200,SCOTCH WHISKIES,Whiskey
9,1062400,SPICED RUM,Rum
11,1071000,COCKTAILS/RTD,Cocktails
25,1052100,IMPORTED BRANDIES,Brandy
96,1011100,BLENDED WHISKIES,Whiskey
146,1012100,CANADIAN WHISKIES,Whiskey
255,1011600,STRAIGHT RYE WHISKIES,Whiskey
264,1012400,IRISH WHISKIES,Whiskey
271,1011200,STRAIGHT BOURBON WHISKIES,Whiskey
314,1011500,BOTTLED IN BOND BOURBON,Whiskey
321,1011400,TENNESSEE WHISKIES,Whiskey
326,1011700,CORN WHISKIES,Whiskey
379,1011300,SINGLE BARREL BOURBON WHISKIES,Whiskey
589,1081600,WHISKEY LIQUEUR,Liqueur
811,1091100,AMERICAN DISTILLED SPIRITS SPECIALTY,Neutral Grain/Distilled Spirits
856,1042100,IMPORTED DRY GINS,Gin
876,1041200,FLAVORED GIN,Gin
884,1041100,AMERICAN DRY GINS,Gin
979,1032100,IMPORTED VODKAS,Vodka
982,1032200,IMPORTED FLAVORED VODKA,Vodka
986,1031200,AMERICAN FLAVORED VODKA,Vodka
992,1041300,AMERICAN SLOE GINS,Gin
1025,1031100,AMERICAN VODKAS,Vodka
1420,1091200,NEUTRAL GRAIN SPIRITS,Neutral Grain/Distilled Spirits
1427,1062300,AGED DARK RUM,Rum
1429,1062200,WHITE RUM,Rum
1430,1062500,FLAVORED RUM,Rum
1436,1092100,IMPORTED DISTILLED SPIRITS SPECIALTY,Neutral Grain/Distilled Spirits
1438,1062100,GOLD RUM,Rum
1608,1082100,IMPORTED CORDIALS & LIQUEURS,Liqueur
1653,1051100,AMERICAN BRANDIES,Brandy
1905,1022200,100% AGAVE TEQUILA,Tequila
1914,1081500,TRIPLE SEC,Liqueur
1925,1081300,AMERICAN CORDIALS & LIQUEURS,Liqueur
1963,1082200,IMPORTED SCHNAPPS,Liqueur
2043,1022100,MIXTO TEQUILA,Tequila
2071,1081100,COFFEE LIQUEURS,Liqueur
2146,1081400,AMERICAN SCHNAPPS,Liqueur
2156,1091300,NEUTRAL GRAIN SPIRITS FLAVORED,Neutral Grain/Distilled Spirits
2613,1022300,MEZCAL,Tequila
3117,1901000,SPECIAL ORDER ITEMS,Other
3181,1081000,AMERICAN CORDIALS & LIQUEURS,Liqueur
3261,1092000,IMPORTED DISTILLED SPIRITS SPECIALTY,Neutral Grain/Distilled Spirits
3524,1082000,IMPORTED CORDIALS & LIQUEURS,Liqueur

In [26]:
# Load to db
try:
    conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
    with conn_int.cursor() as cursor_int:
        # Check if the 'liquor_type' column exists
        cursor_int.execute("""
            SELECT column_name 
            FROM information_schema.columns 
            WHERE table_schema = 'INT_HYVEE' 
            AND table_name = 'items' 
            AND column_name = 'liquor_type';
        """)
        # If the column exists, drop it
        if cursor_int.fetchone():
            cursor_int.execute("ALTER TABLE items DROP COLUMN liquor_type;")
        
        # Add the column
        cursor_int.execute("ALTER TABLE items ADD COLUMN liquor_type VARCHAR(255);")

        # Update the col
        sql_update = "UPDATE items SET liquor_type = %s WHERE category_code = %s;"

        for index, row in df.iterrows():
            cursor_int.execute(sql_update, (row['liquor_type'], row['category_code']))

        conn_int.commit()
except pymysql.Error as e:
    print(f"Database error occurred: {e}")
finally:
    conn_int.close()

# 3. Full Address

In [37]:
# Extracting data from MySQL
conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
cursor_int = conn_int.cursor()

sql_query = "SELECT store_id, address, zipcode, city, county FROM stores"

df = pd.read_sql(sql_query, conn_int)

cursor_int.close()
conn_int.close()

C:\Users\Marcel Zhang\AppData\Local\Temp\ipykernel_3828\2654818312.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn_int)

In [26]:
# Cap first letter in col city, county
df[['city', 'county']] = df[['city', 'county']].apply(lambda x: x.str.title())

In [27]:
# Capitalize each word in col 'address' unless the word starts with a digit
def title_except_numbers(s):
    return ' '.join(word.lower() if word[0].isdigit() else word.title() for word in s.split())

df['address'] = df['address'].apply(title_except_numbers)

In [28]:
# Delete ',' and '.' in col address
df['address'] = df['address'].str.replace(',', '').str.replace('.', '')

In [36]:
# Capitalize directional abbreviations
df['address'] = df['address'].str.replace('[,.]', '', regex=True) + ' '

directions = {' Sw ': ' SW ', ' Se ': ' SE ', ' Nw ': ' NW ', ' Ne ': ' NE '}
for key, value in directions.items():
    df['address'] = df['address'].str.replace(key, value)

df['address'] = df['address'].str.rstrip()

In [30]:
# Concat into col 'full_address'
df['full_address'] = df['address'] + ', ' + df['city'] + ', IA ' + df['zipcode']

In [38]:
# Streamlining the process

# Cap first letter in col city, county
df[['city', 'county']] = df[['city', 'county']].apply(lambda x: x.str.title())

# Capitalize each word in col 'address' unless the word starts with a digit
def title_except_numbers(s):
    return ' '.join(word.lower() if word[0].isdigit() else word.title() for word in s.split())
df['address'] = df['address'].apply(title_except_numbers)

# Capitalize directional abbreviations
df['address'] = df['address'].str.replace('[,.]', '', regex=True) + ' '
directions = {' Sw ': ' SW ', ' Se ': ' SE ', ' Nw ': ' NW ', ' Ne ': ' NE '}
for key, value in directions.items():
    df['address'] = df['address'].str.replace(key, value)
df['address'] = df['address'].str.rstrip()

# Concat into col 'full_address'
df['full_address'] = df['address'] + ', ' + df['city'] + ', IA ' + df['zipcode']

In [40]:
# Load to db
try:
    conn_int = pymysql.connect(host=host, user=user, password=password, db='INT_HYVEE')
    
    with conn_int.cursor() as cursor_int:
        # Check if the column exists
        cursor_int.execute("""
            SELECT column_name 
            FROM information_schema.columns 
            WHERE table_schema = 'INT_HYVEE' 
            AND table_name = 'stores' 
            AND column_name = 'full_address';
        """)
        if cursor_int.fetchone():
            # If the column exists, drop it
            cursor_int.execute("ALTER TABLE stores DROP COLUMN full_address;")
        
        cursor_int.execute("ALTER TABLE stores ADD COLUMN full_address VARCHAR(255);")

        sql_update = "UPDATE stores SET full_address = %s WHERE store_id = %s;"

        for index, row in df.iterrows():
            cursor_int.execute(sql_update, (row['full_address'], row['store_id']))

        conn_int.commit()
except pymysql.Error as e:
    print(f"Database error occurred: {e}")
finally:
    conn_int.close()

In [39]:
df.head(50)

,store_id,address,zipcode,city,county,full_address
0,2500,3800 W Lincoln Way,50010,Ames,Story,"3800 W Lincoln Way, Ames, IA 50010"
1,2501,640 Lincolnway,50010,Ames,Story,"640 Lincolnway, Ames, IA 50010"
2,2502,410 North Ankeny Blvd,50021,Ankeny,Polk,"410 North Ankeny Blvd, Ankeny, IA 50021"
3,2505,1111 8th St,50036,Boone,Boone,"1111 8th St, Boone, IA 50036"
4,2506,3140 Agency,52601,Burlington,Des Moines,"3140 Agency, Burlington, IA 52601"
5,2507,939 Angular,52601,Burlington,Des Moines,"939 Angular, Burlington, IA 52601"
6,2508,1843 Johnson Avenue NW,52405,Cedar Rapids,Linn,"1843 Johnson Avenue NW, Cedar Rapids, IA 52405"
7,2509,1520 6th St SW,52404,Cedar Rapids,Linn,"1520 6th St SW, Cedar Rapids, IA 52404"
8,2512,1720 Waterfront Dr,52240,Iowa City,Johnson,"1720 Waterfront Dr, Iowa City, IA 52240"
9,2513,812 S 1st Ave,52240,Iowa City,Johnson,"812 S 1st Ave, Iowa City, IA 52240"
10,2514,2790 7th Avenue,52302,Marion,Linn,"2790 7th Avenue, Marion, IA 52302"
11,2515,2400 4th St SW,50401,Mason City,Cerro Gordo,"2400 4th St SW, Mason City, IA 50401"
12,2517,1501 First Avenue East,50208,Newton,Jasper,"1501 First Avenue East, Newton, IA 50208"
13,2518,1607 North Broadway,51566,Red Oak,Montgomery,"1607 North Broadway, Red Oak, IA 51566"
14,2521,1990 Grand Avenue,50265,West Des Moines,Polk,"1990 Grand Avenue, West Des Moines, IA 50265"
15,2522,1902 Peoria Avenue,51360,Spirit Lake,Dickinson,"1902 Peoria Avenue, Spirit Lake, IA 51360"
16,2523,609 N 18th,52544,Centerville,Appanoose,"609 N 18th, Centerville, IA 52544"
17,2524,3500 Dodge St,52001,Dubuque,Dubuque,"3500 Dodge St, Dubuque, IA 52001"
18,2527,1107 SE Army Post Rd,50315,Des Moines,Polk,"1107 SE Army Post Rd, Des Moines, IA 50315"
19,2528,3221 SE 14th St,50315,Des Moines,Polk,"3221 SE 14th St, Des Moines, IA 50315"
20,2529,4825 Johnson Ave NW,52405,Cedar Rapids,Linn,"4825 Johnson Ave NW, Cedar Rapids, IA 52405"
21,2532,2540 E Euclid,50317,Des Moines,Polk,"2540 E Euclid, Des Moines, IA 50317"
22,2535,1700 Valley West Dr,50266,West Des Moines,Polk,"1700 Valley West Dr, West Des Moines, IA 50266"
23,2536,4815 Maple Drive,50317,Pleasant Hill,Polk,"4815 Maple Drive, Pleasant Hill, IA 50317"
24,2538,1422 Flammang Dr,50702,Waterloo,Black Hawk,"1422 Flammang Dr, Waterloo, IA 50702"
25,2539,640 S Oak,50126,Iowa Falls,Hardin,"640 S Oak, Iowa Falls, IA 50126"
26,2543,1025 North Quincy Ave,52501,Ottumwa,Wapello,"1025 North Quincy Ave, Ottumwa, IA 52501"
27,2544,802 South Center,50158,Marshalltown,Marshall,"802 South Center, Marshalltown, IA 50158"
28,2545,310 N 1st St,52245,Iowa City,Johnson,"310 N 1st St, Iowa City, IA 52245"
29,2548,100 8th Street SW,50009,Altoona,Polk,"100 8th Street SW, Altoona, IA 50009"
30,2549,910 N Jefferson,50125,Indianola,Warren,"910 N Jefferson, Indianola, IA 50125"
31,2550,510 West Mclane,50213,Osceola,Clarke,"510 West Mclane, Osceola, IA 50213"
32,2551,2001 West Court,50049,Chariton,Lucas,"2001 West Court, Chariton, IA 50049"
33,2552,20 Wilson Avenue West,52404,Cedar Rapids,Linn,"20 Wilson Avenue West, Cedar Rapids, IA 52404"
34,2553,600 Sheldon,50801,Creston,Union,"600 Sheldon, Creston, IA 50801"
35,2554,3019 Rockingham Road,52802,Davenport,Scott,"3019 Rockingham Road, Davenport, IA 52802"
36,2555,3111 Main,52632,Keokuk,Lee,"3111 Main, Keokuk, IA 52632"
37,2556,1221 E Central Avenue,51334,Estherville,Emmet,"1221 E Central Avenue, Estherville, IA 51334"
38,2558,1700 E Washington,52641,Mount Pleasant,Henry,"1700 E Washington, Mount Pleasant, IA 52641"
39,2559,301 Hwy 34 West,52531,Albia,Monroe,"301 Hwy 34 West, Albia, IA 52531"
40,2560,3600 Business Hwy 151 East,52302,Marion,Linn,"3600 Business Hwy 151 East, Marion, IA 52302"
41,2561,4605 Fleur Drive,50321,Des Moines,Polk,"4605 Fleur Drive, Des Moines, IA 50321"
42,2562,115 South 29th St,50501,Fort Dodge,Webster,"115 South 29th St, Fort Dodge, IA 50501"
43,2565,819 N Grand Ave,51301,Spencer,Clay,"819 N Grand Ave, Spencer, IA 51301"
44,2566,813 N Lincoln Ste 1,50138,Knoxville,Marion,"813 N Lincoln Ste 1, Knoxville, IA 50138"
45,2567,2200 West Kimberly,52806,Davenport,Scott,"2200 West Kimberly, Davenport, IA 52806"
46,2568,1556 1st Ave NE,52402,Cedar Rapids,Linn,"1556 1st Ave NE, Cedar Rapids, IA 52402"
47,2569,279 Collins Road NE,52402,Cedar Rapids,Linn,"279 Collins Road NE, Cedar Rapids, IA 52402"
48,2571,2181 Logan Ave,50703,Waterloo,Black Hawk,"2181 Logan Ave, Waterloo, IA 50703"
49,2572,6301 University,50613,Cedar Falls,Black Hawk,"6301 University, Cedar Falls, IA 50613"

# 4. Numerical Metrics

In [29]:
import pymysql
import json
import sqlexe

with open('config\mysql_config.json') as f:
  mysql_config = json.load(f)

connection_params = {
    'host': mysql_config['hostname'],
    'user': mysql_config['username'],
    'password': mysql_config['password'],
}

sqlexe.execute_sql_file('metrics.sql', connection_params)